In [48]:
import pandas as pd
import numpy as np
import os
from datetime import datetime as dt, timezone as tz

### Check the raw data

In [49]:
raw_data_location = os.path.dirname(os.getcwd()) + "\\data\\raw\\"
composite_path = os.path.dirname(os.getcwd()) + "\\data\\consolidated\\"
filename_plant1_weather = "Plant_1_Weather_Sensor_Data.csv"
filename_plant1_generation = "Plant_1_Generation_Data.csv"
filename_plant2_generation = "Plant_2_Generation_Data.csv"
filename_plant2_weather = "Plant_2_Weather_Sensor_Data.csv"

In [50]:
plant1_generation_df = pd.read_csv(raw_data_location + filename_plant1_generation)
plant2_generation_df = pd.read_csv(raw_data_location + filename_plant2_generation)
plant2_weather_df = pd.read_csv(raw_data_location + filename_plant2_weather)
plant1_weather_df = pd.read_csv(raw_data_location + filename_plant1_weather)

In [51]:
plant1_generation_df["plant"] = "P_1"
plant2_generation_df["plant"] = "P_2"
plant1_weather_df["plant"] = "P_1"
plant2_weather_df["plant"] = "P_2"

In [52]:
generation_df = plant1_generation_df.append(plant2_generation_df)
weather_df = plant1_weather_df.append(plant2_weather_df)

In [53]:
generation_df.describe()

           PLANT_ID       DC_POWER       AC_POWER    DAILY_YIELD   TOTAL_YIELD
count  1.364760e+05  136476.000000  136476.000000  136476.000000  1.364760e+05
mean   4.135497e+06    1708.541497     274.803511    3295.433783  3.303821e+08
std    4.999862e+02    3222.181273     380.182569    3035.294425  6.085705e+08
min    4.135001e+06       0.000000       0.000000       0.000000  0.000000e+00
25%    4.135001e+06       0.000000       0.000000      28.321429  6.520020e+06
50%    4.135001e+06       6.050000       3.506905    2834.803572  7.269333e+06
75%    4.136001e+06    1155.788333     532.673333    5992.000000  2.826096e+08
max    4.136001e+06   14471.125000    1410.950000    9873.000000  2.247916e+09

In [54]:
weather_df.describe()

           PLANT_ID  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION
count  6.441000e+03          6441.000000         6441.000000  6441.000000
mean   4.135507e+06            26.815672           31.941762     0.230551
std    5.000031e+02             3.938901           11.835033     0.306877
min    4.135001e+06            20.398505           18.140415     0.000000
25%    4.135001e+06            23.662696           22.429024     0.000000
50%    4.136001e+06            25.954460           26.394380     0.022282
75%    4.136001e+06            29.355584           40.821388     0.443340
max    4.136001e+06            39.181638           66.635953     1.221652

In [55]:
generation_df.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,plant
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,P_1
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0,P_1
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0,P_1
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0,P_1
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0,P_1

In [56]:
generation_df.tail()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,plant
67693,17-06-2020 23:45,4136001,q49J1IKaHRwDQnt,0.0,0.0,4157.0,520758.0,P_2
67694,17-06-2020 23:45,4136001,rrq4fwE8jgrTyWY,0.0,0.0,3931.0,121131356.0,P_2
67695,17-06-2020 23:45,4136001,vOuJvMaM2sgwLmb,0.0,0.0,4322.0,2427691.0,P_2
67696,17-06-2020 23:45,4136001,xMbIugepa2P7lBB,0.0,0.0,4218.0,106896394.0,P_2
67697,17-06-2020 23:45,4136001,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0,P_2

In [57]:
weather_df.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,plant
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,P_1
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0,P_1
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0,P_1
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0,P_1
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0,P_1

In [58]:
weather_df.tail()

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,plant
3254,2020-06-17 22:45:00,4136001,iq8k7ZNt4Mwm3w0,23.511703,22.856201,0.0,P_2
3255,2020-06-17 23:00:00,4136001,iq8k7ZNt4Mwm3w0,23.482282,22.744190,0.0,P_2
3256,2020-06-17 23:15:00,4136001,iq8k7ZNt4Mwm3w0,23.354743,22.492245,0.0,P_2
3257,2020-06-17 23:30:00,4136001,iq8k7ZNt4Mwm3w0,23.291048,22.373909,0.0,P_2
3258,2020-06-17 23:45:00,4136001,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,P_2

### Correcting the DATE_TIME column in generation_df

In [59]:
generation_df.loc[generation_df["plant"] == "P_1","DATE_TIME"] = \
    pd.to_datetime(generation_df[generation_df["plant"] == "P_1"].DATE_TIME, format="%d-%m-%Y %H:%M")
generation_df.loc[generation_df["plant"] == "P_2","DATE_TIME"] = \
    pd.to_datetime(generation_df[generation_df["plant"] == "P_2"].DATE_TIME)

In [60]:
generation_df["DATE_TIME"] = \
    generation_df.DATE_TIME.apply(
        lambda x: dt.fromtimestamp(x/1000000000).astimezone(tz.utc).strftime("%Y-%m-%d %H:%M:%S")
)

In [61]:
generation_df[(generation_df["plant"] == "P_1")].tail()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,plant
68773,2020-06-17 23:45:00,4135001,uHbuxQJl8lW7ozc,0.0,0.0,5967.000,7287002.0,P_1
68774,2020-06-17 23:45:00,4135001,wCURE6d3bPkepu2,0.0,0.0,5147.625,7028601.0,P_1
68775,2020-06-17 23:45:00,4135001,z9Y9gH1T5YWrNuG,0.0,0.0,5819.000,7251204.0,P_1
68776,2020-06-17 23:45:00,4135001,zBIq5rxdHJRwDNY,0.0,0.0,5817.000,6583369.0,P_1
68777,2020-06-17 23:45:00,4135001,zVJPv84UY57bAof,0.0,0.0,5910.000,7363272.0,P_1

In [62]:
generation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136476 entries, 0 to 67697
Data columns (total 8 columns):
DATE_TIME      136476 non-null object
PLANT_ID       136476 non-null int64
SOURCE_KEY     136476 non-null object
DC_POWER       136476 non-null float64
AC_POWER       136476 non-null float64
DAILY_YIELD    136476 non-null float64
TOTAL_YIELD    136476 non-null float64
plant          136476 non-null object
dtypes: float64(4), int64(1), object(3)
memory usage: 9.4+ MB

In [63]:
weather_df.DATE_TIME = pd.to_datetime(weather_df.DATE_TIME)
generation_df.DATE_TIME = pd.to_datetime(generation_df.DATE_TIME)

In [64]:
generation_df.tail()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,plant
67693,2020-06-17 23:45:00,4136001,q49J1IKaHRwDQnt,0.0,0.0,4157.0,520758.0,P_2
67694,2020-06-17 23:45:00,4136001,rrq4fwE8jgrTyWY,0.0,0.0,3931.0,121131356.0,P_2
67695,2020-06-17 23:45:00,4136001,vOuJvMaM2sgwLmb,0.0,0.0,4322.0,2427691.0,P_2
67696,2020-06-17 23:45:00,4136001,xMbIugepa2P7lBB,0.0,0.0,4218.0,106896394.0,P_2
67697,2020-06-17 23:45:00,4136001,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0,P_2

In [65]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6441 entries, 0 to 3258
Data columns (total 7 columns):
DATE_TIME              6441 non-null datetime64[ns]
PLANT_ID               6441 non-null int64
SOURCE_KEY             6441 non-null object
AMBIENT_TEMPERATURE    6441 non-null float64
MODULE_TEMPERATURE     6441 non-null float64
IRRADIATION            6441 non-null float64
plant                  6441 non-null object
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 402.6+ KB

In [66]:
generation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136476 entries, 0 to 67697
Data columns (total 8 columns):
DATE_TIME      136476 non-null datetime64[ns]
PLANT_ID       136476 non-null int64
SOURCE_KEY     136476 non-null object
DC_POWER       136476 non-null float64
AC_POWER       136476 non-null float64
DAILY_YIELD    136476 non-null float64
TOTAL_YIELD    136476 non-null float64
plant          136476 non-null object
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 9.4+ MB

### Creating composites

In [67]:
del plant1_generation_df 
del plant2_generation_df 
del plant1_weather_df 
del plant2_weather_df

In [68]:
generation_df.to_csv(composite_path + "generation_df.csv")
weather_df.to_csv(composite_path + "weather_df.csv")

### Creating the ADS for exploration

In [69]:
generation_df.PLANT_ID.unique()

array([4135001, 4136001], dtype=int64)

In [70]:
generation_df.shape

(136476, 8)

In [71]:
weather_df.PLANT_ID.unique()

array([4135001, 4136001], dtype=int64)

In [72]:
consolidated_df = generation_df.merge(weather_df, how='left', on=["DATE_TIME", "PLANT_ID"])

In [73]:
consolidated_df.shape

(136476, 13)

In [74]:
consolidated_df["DATE"] = consolidated_df.DATE_TIME.apply(lambda x: x.date())

In [75]:
consolidated_df["TIME"] = consolidated_df.DATE_TIME.apply(lambda x: x.time())

In [76]:
consolidated_df.tail()

,DATE_TIME,PLANT_ID,SOURCE_KEY_x,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,plant_x,SOURCE_KEY_y,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,plant_y,DATE,TIME
136471,2020-06-17 23:45:00,4136001,q49J1IKaHRwDQnt,0.0,0.0,4157.0,520758.0,P_2,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,P_2,2020-06-17,23:45:00
136472,2020-06-17 23:45:00,4136001,rrq4fwE8jgrTyWY,0.0,0.0,3931.0,121131356.0,P_2,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,P_2,2020-06-17,23:45:00
136473,2020-06-17 23:45:00,4136001,vOuJvMaM2sgwLmb,0.0,0.0,4322.0,2427691.0,P_2,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,P_2,2020-06-17,23:45:00
136474,2020-06-17 23:45:00,4136001,xMbIugepa2P7lBB,0.0,0.0,4218.0,106896394.0,P_2,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,P_2,2020-06-17,23:45:00
136475,2020-06-17 23:45:00,4136001,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0,P_2,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0,P_2,2020-06-17,23:45:00

In [77]:
consolitdatd_df = consolidated_df.sort_values(["DATE", "TIME"]).reset_index()

In [78]:
consolidated_df["INVERTOR_KEY"] = consolidated_df.SOURCE_KEY_x
consolidated_df["WEATHER_SENSOR_KEY"] = consolidated_df.SOURCE_KEY_y
consolidated_df = consolidated_df.drop(["plant_x", "plant_y", "SOURCE_KEY_x", "SOURCE_KEY_y"], axis=1)

In [79]:
consolidated_df.head()

,DATE_TIME,PLANT_ID,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,DATE,TIME,INVERTOR_KEY,WEATHER_SENSOR_KEY
0,2020-05-15,4135001,0.0,0.0,0.0,6259559.0,25.184316,22.857507,0.0,2020-05-15,00:00:00,1BY6WEcLGh8j5v7,HmiyD2TTLFNqkNe
1,2020-05-15,4135001,0.0,0.0,0.0,6183645.0,25.184316,22.857507,0.0,2020-05-15,00:00:00,1IF53ai7Xc0U56Y,HmiyD2TTLFNqkNe
2,2020-05-15,4135001,0.0,0.0,0.0,6987759.0,25.184316,22.857507,0.0,2020-05-15,00:00:00,3PZuoBAID5Wc2HD,HmiyD2TTLFNqkNe
3,2020-05-15,4135001,0.0,0.0,0.0,7602960.0,25.184316,22.857507,0.0,2020-05-15,00:00:00,7JYdWkrLSPkdwr4,HmiyD2TTLFNqkNe
4,2020-05-15,4135001,0.0,0.0,0.0,7158964.0,25.184316,22.857507,0.0,2020-05-15,00:00:00,McdE0feGgRqW7Ca,HmiyD2TTLFNqkNe

In [80]:
weather_df.SOURCE_KEY.unique()

array(['HmiyD2TTLFNqkNe', 'iq8k7ZNt4Mwm3w0'], dtype=object)

In [81]:
consolidated_df.shape

(136476, 13)

In [82]:
consolidated_df.to_csv(composite_path + "consolidated_df.csv")